html {
    overflow-x: hidden;
}

#navLogo {
    color: #328cc1;
}

.jumboHeader {
    background: url("../images/header.jpg") no-repeat;
    text-align: center;
    /* background: url('hero-background-nature.jpg'); */
    background-size: cover;
    background-position: center;
}

.footer {
    background: #343a40;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}

.logoFont {
    font-family: "Archivo Black", sans-serif;
    color: #d9b310 !important;
}

a.profileLink {
    text-decoration: none;
    color: #328cc1 !important;
}

a.profileLink:focus,
a.profileLink:hover {
    color: #d9b310 !important;
}

.navbar-dark .nav-item>.nav-link.active {
    color: white;
}

#footerSpacer {
    margin-top: 50px;
}

#headerSpacer {
    margin-bottom: 55px;
}